body {
  background: rgb(247, 247, 255);
  font-family: Arial; 
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*------------------------------------*/
/*NAVIGATION BAR STYLES*/
/*------------------------------------*/

#nav-bar {
  background: rgb(190, 215, 235);
  font-weight: bold;
  overflow: hidden;
  border-bottom: 0.3rem solid rgb(0, 0, 0);
  margin-bottom: 1.25rem;
  webkit-user-select: none;
  user-select: none;
}
#nav-bar h1 {
  float: left;
  font-size: 1.5rem;
  margin: 0.3rem 0.6rem 0 0.6rem;
}
#nav-bar a {
  float: left;
  color: rgb(215, 30, 90);
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  border-right: 0.3rem solid rgb(0, 0, 0);
  padding: 0.3rem 0.6rem;
}
#nav-bar a:first-of-type {
  border-right: 0.3rem solid rgb(0, 0, 0);
  border-left: 0.3rem solid rgb(0, 0, 0);
}
#nav-bar a:hover {
  background: rgb(160, 185, 205);
  background: rgba(160, 185, 205, 0.8);
}
#nav-bar a.active { 
  color: rgb(0, 0, 255);
}

/*------------------------------------*/
/*ELEMENT PAGE ITEMS*/
/*------------------------------------*/

#pte-container {
  background: rgb(190, 215, 235);
  display: grid;
  width: 55%;
  height: 50rem;
  overflow: hidden;
  grid-template-columns: 30% 70%;
}
#elem-display {
  display: grid;
  /*derrived from subtracting border and padding size from parents height*/
  height: 48.2rem;
  border: 0.3rem solid rgb(0, 0, 0);
  overflow: auto;
  padding: 0.6rem;
  grid-template-columns: auto auto auto auto;
}
#elem-display div:target {
  background: rgb(100, 100, 200);
  background: rgba(100, 100, 200, 0.8);
}
.elem-display-item {
  background: rgb(215, 30, 90);
  min-width: 6rem;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 0.2rem solid rgb(0, 0, 0);
  margin: 0.3rem;
  padding: 0.6rem;
}
.elem-display-item h1 { 
  /*number*/
  font-size: 1rem;
  font-style: italic;
}
.elem-display-item h2 {
  /*symbol*/
  font-size: 2rem;
}
.elem-display-item h3 {
  /*name*/
  font-size: 1rem
}
.elem-display-item h3 a {
  /*name link*/
  color: rgb(0, 0, 255);
}
.elem-display-item h4 {
  /*mass*/
  color: rgb(220, 220, 220);
  font-size: 1rem;
  font-style: italic;
}
#elem-search {
  /*derrived from subtracting border and padding size from parents height*/
  height: 48.2rem;
  border: 0.3rem solid rgb(0, 0, 0);
  margin-right: -0.3rem;
  padding: 0.6rem;
}
#_searchBar {
  /*try to clean this up*/
  width: 95%;
  margin: 0.4rem 0;
}
#elem-search-disp {
  background: rgb(255, 255, 255);
  height: 80%;
  color: rgb(150, 150, 150);
  font-style: italic;
  border: 0.3rem solid black;
  overflow: auto;
  margin-top: 0.6rem;
  padding: 0 0.6rem;
}
#elem-search-disp a {
  display: block;
  color: rgb(0, 0, 255);
  text-decoration: none;
}
#elem-search-disp a:hover {
  background: rgb(200, 200, 200);
  background: rgba(200, 200, 200, 0.5);
}

/*------------------------------------*/
/*OTHER*/
/*------------------------------------*/

.v-centered-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*
custom scrollbar (not sure if i want to keep this)
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(175, 175, 175);
  background: rgba(175, 175, 175, 0.4);
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
*/
